<ul id="metrics">
  <% for metric in @metrics %>
    <% content_tag_for :li, metric do %>
      <span class="handle">
        <%=link_to_remote(image_tag('delete.png') ,:url=>{:controller=>"metrics",:action =>"destroy",:id=>metric},:update => "metrics_list",:method=>:delete,:loading=>"Element.show('spinner_#{metric.id}');",:complete=>"Element.hide('spinner_#{metric.id}');")%>
        <%= link_to_remote(image_tag("edit.png"),:url=>{:controller=>"metrics",:action =>"edit",:id=>metric},:method=>:put,:loading=>"Element.show('spinner_#{metric.id}');",:complete=>"Element.hide('spinner_#{metric.id}');Element.hide('inside_form');") %>
        <%= metric.title %><%= image_tag "spinner.gif", :id => "spinner_#{metric.id}", :style => 'display:none;', :bgcolor => '#EFF9FF' %>
      </span>
    <% end %>
  <% end %>
</ul>
<%= sortable_element("metrics", :url => sort_metrics_path, :handle => "handle") %>
